<nav class="navbar has-background-white-ter" role="navigation">
    <div class="container">
        <div class="navbar-brand">
            <h2 class="is-size-3">Smartwatches</h2>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start ml-3">
                <a class="navbar-item" href="{% url 'home' %}">Más Caros</a>
                <a class="navbar-item" href="{% url 'vendors' %}">Top Vendedores</a>
            </div>
            <div class="navbar-end">
                {% if session.user %}
                    <p class="navbar-item mr-4">
                        <span class="mr-4">Bienvenido</span>
                        <a
                                href="{{ session.user.permalink }}">{{ session.user.first_name }} {{ session.user.last_name }}
                        </a>
                    </p>
                    <a class="navbar-item button is-warning mt-1" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                {% else %}
                    <a class="navbar-item button is-warning mt-1"
                       href="https://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=3653090375391988&redirect_uri=https://localhost:8000/token">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
