{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Smartwatches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/plain.min.css' %}">
</head>

<body>
    <div class="pl-container">
        <div class="pl-row">
            <div class="pl-col">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'sellers' %}">Sellers</a>
            </div>
            <div class="pl-col">
                {% if token %}
                <p>Welcome {{ token }}</p>
                {% else %}
                <a href="https://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=3653090375391988&redirect_uri=https://localhost:8000/token
">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="pl-row">
            <div class="pl-col">
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
    </div>
</body>

</html>
